@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-base: 'Montserrat', sans-serif;
    --color-bg: #F9FAFB;
    --color-primary: #2847BC;
    --color-accent: #FED902;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font-base);
}

/* Custom animations */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}