---
import ContactDetailsCard from "../molecules/ContactDetailsCard.astro"

import { Phone, Mail, MapPin, Clock } from "@lucide/astro";
---

<section id="contact" class="max-w-7xl mx-auto">

    <div class="flex flex-col justify-center items-center max-w-4xl mx-auto text-center mt-20">
        <h2 class="text-4xl font-bold text-primary">
            Get In Touch
        </h2>
        <p class="text-lg mt-2 text-slate-500 px-2">
            Have any questions? Contact us today and experience the difference.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 my-10 p-6 md:px-10">
        <ContactDetailsCard Icon={Phone} label="WhatsApp" text="+27 69 779 8934"/>
        <ContactDetailsCard Icon={Mail} label="Email" text="info@timorides.com"/>
        <ContactDetailsCard Icon={MapPin} label="Address" text="South Africa "/>
        <ContactDetailsCard Icon={Clock} label="Hours" text="24/7 Service Available Customer Support: Mon-Fri 8AM-6PM"/>
    </div>

</section>