---
interface Props {
    href: string;
    label: string,
    classes?: string;
    iconPosition?: string; 
}

const {href, label, classes, iconPosition = 'right'} = Astro.props
---

<a href={href} class={`${classes} transition duration-150 flex items-center gap-3`}>
    {iconPosition === 'left' && <slot name="icon"/>}
    {label}
    {iconPosition === 'right' && <slot name="icon"/>}
</a>